{
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module"
    },
    "parser": "babel-eslint",
    "plugins": [
        "babel",
        "react"
    ],
    "rules": {
        "no-unused-vars": 0,
        "babel/quotes": [
            2,
            "single"
        ],
        "quotes": ["error", "single", {"allowTemplateLiterals": true}],
        "jsx-quotes": [
            "error",
            "prefer-double"
        ],
        "brace-style": [
            0,
            "1tbs",
            {
                "allowSingleLine": true
            }
        ],
        "no-undef": 0,
        "babel/semi": [
            2,
            "never"
        ]
    }
}