@import "../../_utils/style/partials/vars";

.pagewrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  margin: 0;
  padding: 0;

  min-width:  100vw;
  max-width:  100vw;
  min-height: $heightContent;
  max-height: $heightContent;

  
}