// Font Families
$family-sans-serif: sans-serif;
$family-secondary: serif;
$family-monospace: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
$family-primary: sans-serif;
$family-serif: serif;
$family-code: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

// Fonts by Intent
$fontTitle: 'Fredoka One', cursive;
$fontLabel: 'Marcellus SC', serif;
$fontHeading: 'Rokkit', serif;
$fontBody: 'Overlock', sans-serif;

// Layout Dimensions
$heightHeader:  8vh;
$heightContent: 82vh;
$heightFooter:  10vh;