/*
 * Copyright 2017 Palantir Technologies, Inc. All rights reserved.
 */
/* --------- Typography -------- */
.responsive-text-5 {
  font-size: 12vmin; }

.responsive-text-4 {
  font-size: 9.6vmin; }

.responsive-text-3 {
  font-size: 7.2vmin; }

.responsive-text-2 {
  font-size: 4.8vmin; }

.responsive-text-1 {
  font-size: 3.6vmin; }

.is-family-sans-serif {
  font-family: sans-serif !important; }

.is-family-secondary {
  font-family: serif !important; }

.is-family-monospace {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace !important; }

.is-family-primary {
  font-family: sans-serif !important; }

.is-family-serif {
  font-family: serif !important; }

.is-family-code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace !important; }

.ma1 {
  margin: 1rem; }

.ma2 {
  margin: 2rem; }

.ma3 {
  margin: 3rem; }

.ma4 {
  margin: 4rem; }

.ma5 {
  margin: 5rem; }

.mh0 {
  margin-left: 0;
  margin-right: 0; }

.mh1 {
  margin: 0 1rem 0 1rem; }

.mh2 {
  margin: 0 2rem 0 2rem; }

.mh3 {
  margin: 0 3rem 0 3rem; }

.mh4 {
  margin: 0 4rem 0 4rem; }

.mh5 {
  margin: 0 5rem 0 5rem; }

.mv0 {
  margin-top: 0;
  margin-bottom: 0; }

.mv1 {
  margin: 1rem 0 1rem 0; }

.mv2 {
  margin: 2rem 0 2rem 0; }

.mv3 {
  margin: 3rem 0 3rem 0; }

.mv4 {
  margin: 4rem 0 4rem 0; }

.mv5 {
  margin: 5rem 0 5rem 0; }

.mt0 {
  margin-top: 0; }

.mt1 {
  margin-top: 1rem; }

.mt2 {
  margin-top: 2rem; }

.mt3 {
  margin-top: 3rem; }

.mt4 {
  margin-top: 4rem; }

.mt5 {
  margin-top: 5rem; }

.mr0 {
  margin-right: 0; }

.mr1 {
  margin-right: 1rem; }

.mr2 {
  margin-right: 2rem; }

.mr3 {
  margin-right: 3rem; }

.mr4 {
  margin-right: 4rem; }

.mr5 {
  margin-right: 5rem; }

.ml0 {
  margin-left: 0; }

.ml1 {
  margin-left: 1rem; }

.ml2 {
  margin-left: 2rem; }

.ml3 {
  margin-left: 3rem; }

.ml4 {
  margin-left: 4rem; }

.ml5 {
  margin-left: 5rem; }

.mb0 {
  margin-bottom: 0; }

.mb1 {
  margin-bottom: 1rem; }

.mb2 {
  margin-bottom: 2rem; }

.mb3 {
  margin-bottom: 3rem; }

.mb4 {
  margin-bottom: 4rem; }

.mb5 {
  margin-bottom: 5rem; }

.pa1 {
  padding: 1rem; }

.pa2 {
  padding: 2rem; }

.pa3 {
  padding: 3rem; }

.pa4 {
  padding: 4rem; }

.pa5 {
  padding: 5rem; }

.ph0 {
  padding-left: 0;
  padding-right: 0; }

.ph1 {
  padding: 0 1rem 0 1rem; }

.ph2 {
  padding: 0 2rem 0 2rem; }

.ph3 {
  padding: 0 3rem 0 3rem; }

.ph4 {
  padding: 0 4rem 0 4rem; }

.ph5 {
  padding: 0 5rem 0 5rem; }

.pv0 {
  padding-top: 0;
  padding-bottom: 0; }

.pv1 {
  padding: 1rem 0 1rem 0; }

.pv2 {
  padding: 2rem 0 2rem 0; }

.pv3 {
  padding: 3rem 0 3rem 0; }

.pv4 {
  padding: 4rem 0 4rem 0; }

.pv5 {
  padding: 5rem 0 5rem 0; }

.pt0 {
  padding-top: 0; }

.pt1 {
  padding-top: 1rem; }

.pt2 {
  padding-top: 2rem; }

.pt3 {
  padding-top: 3rem; }

.pt4 {
  padding-top: 4rem; }

.pt5 {
  padding-top: 5rem; }

.pr0 {
  padding-right: 0; }

.pr1 {
  padding-right: 1rem; }

.pr2 {
  padding-right: 2rem; }

.pr3 {
  padding-right: 3rem; }

.pr4 {
  padding-right: 4rem; }

.pr5 {
  padding-right: 5rem; }

.pl0 {
  padding-left: 0; }

.pl1 {
  padding-left: 1rem; }

.pl2 {
  padding-left: 2rem; }

.pl3 {
  padding-left: 3rem; }

.pl4 {
  padding-left: 4rem; }

.pl5 {
  padding-left: 5rem; }

.pb0 {
  padding-bottom: 0; }

.pb1 {
  padding-bottom: 1rem; }

.pb2 {
  padding-bottom: 2rem; }

.pb3 {
  padding-bottom: 3rem; }

.pb4 {
  padding-bottom: 4rem; }

.pb5 {
  padding-bottom: 5rem; }
/*# sourceMappingURL=App.css.map */